*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to left,#333,black);
}
#spanid{
    width: 35%;
    height: 100px;
    background-color: rgb(129, 102, 61);
    float: right;
    display: flex;
    border-radius: 15px;
}
#logo{
    height: 100px;
    float: right;
    border-radius: 50%;
}
#h1id{
    line-height: 100px;
    color: rgb(245, 212, 212);
    
}
nav{
    width: 65%;
    height: 100px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    text-decoration: none;
    line-height: 100px;
}
nav li a{
    padding: 15px 16px;
    text-decoration: none;
    color: white;
}
nav li a:hover{
    background-color: #333;
    color: white;
    display: inline-flex;
    font-size: 20px;
}
#spanid2{
    width: 100%;
    height: 50px;
    background-color:black;
    margin-bottom: 10px black;
}
#spanid2 h3{
color: white;
font-size: 15px;
}
main{
   background-color: #333;
    height: 500px;
    width: 100%;
    border-top: 10px solid rgb(8, 8, 8);
    border-bottom: 10px solid black;
    animation-name: change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
#asideid{
    background-color: rgb(126, 95, 95);
    width: 35%;
    height: 100%;
    margin-top: 20px solid black;
    border-right: 5px solid red;
    border-top: 5px solid red;
    border-left: 5px solid red;
    float: left;
    
}
#asideid img{
    width: 100%;
    height: 300px;
    padding-top: 10px ;
    padding-right: 10px;
    border-top: 5px solid black;
    filter: brightness(90%);
    
}
#asideid h1{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    border: 10px solid black;
    color: white;
}
#dividd{
    width: 100%;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    
}
#dividd img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid black;
  
}
#dividd img:hover{
    width: 90px;
    border: 3px solid red;
}
article{
    height: 500px;
    width: 64%;
    background-image:linear-gradient(to right,black,#333333);
    float: right;
}
#box{
    background-color: rgb(22, 15, 15);
    height: 150px;
    width: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40% -50%);
    border: 5px double red;
    border-radius: 15px;
}
#box h1{
    border-bottom: 4px double red;
    text-align: center;
    margin: 8px;
    color: white;
}
#box p{
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    color: white;
}
@keyframes change{
    0%{
        background-color: rgb(88, 81, 46);
    }
    25%{
        background-color: rgb(209, 106, 106);
    }
    50%{
        background-color: rgb(48, 3, 3);
    }
    75%{
        background-color: rgb(92, 113, 179);
    }
    100%{
        background-color: rgb(143, 188, 162);
    }
}

